body{
  background: #ECE6CD;
}

#formu{
  border: groove;
  padding: 20px;

}

#gif1{
  padding-top: 10px;
}

#nos{
	padding: 10px;
}

#carrusel{
	padding-top: 20px;
	padding-bottom: 40px;
}

#carru{
	height: 480px;
}

#nombre,#correo,#mensaje{
	width: 100%;
}

#rollos{
	justify-content: center;
	text-align: center;
}

#titulo{
	padding-top: 40px;
}



.context-dark, .bg-gray-dark, .bg-primary {
    color: rgba(255, 255, 255, 0.8);
}

.footer-classic a, .footer-classic a:focus, .footer-classic a:active {
    color: #ffffff;
}
